<div style="display: flex; height: 100%">
  <div style="width: 300px;">
    <dx-data-grid 
        [dataSource]="store" 
        [remoteOperations]="true" 
        [showBorders]="true"
        [focusedRowEnabled]="true"
        (onFocusedRowChanged)="onFocusedRowChanged($event)">
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column dataField="productID" caption="ID" [width]="55"></dxi-column>
      <dxi-column dataField="productName" caption="Name"></dxi-column>
    </dx-data-grid>
  </div>
  <div style="flex-grow: 1;">
    <dx-dashboard-control
        style="display: block;width:100%;height:600px;" 
        [endpoint]="serverUrl + '/api/dashboard'"
        [(dashboardId)]="dashboardId">
    </dx-dashboard-control>
  </div>
</div>